html, 
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#game {
	display: block;
	width: 100%;
	height: 100%;
}

#debug {
	background: #fff;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40%;
	height: 40%;
	border: 1px solid #ccc;
	opacity: .6;
}

#debug.fullscreen {
	border: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
