#ui {
	font: 1rem/1.6 Helvetica, Arial, sans-serif;
	color: #333;

	> div, 
	> p {
		display: none;
		margin: 0;
	}

	p > b {
		font-weight: normal;
	}

	// Loading
	p.loading {
		background: #fefefe;

		position: absolute;
		left: 0;
		top: 0;

		display: none;
		width: 100%;
		height: 100%;

		text-align: center;
		font-size: 300%;
		font-style: italic;

		z-index: 1;

		b {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	body.loading & p.loading {
		display: table;
	}

	// Energy
	p.energy {
		background: #fefefe;

		position: absolute;
		left: 20px;
		top: 20px;

		display: block;
		width: 120px;

		border: 2px solid #666;

		b {
			background: #f90;
			display: block;
			height: 20px;
			width: 50%;
		}
	}

	// Distance & altitude
	p.distance, 
	p.altitude {
		position: absolute;
		left: 20px;
		top: 50px;

		display: block;
	}

	p.altitude {
		top: 70px;
	}

	// Game over
	div.game-over {
		background: rgba(250, 250, 250, .8);

		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		text-align: center;

		h2 {
			margin-top: 30%;
			margin-bottom: 0;
			font-size: 4rem;
		}

		p {
			margin: 0 0 20px;
		}

		a {
			background: #06c;

			display: inline-block;
			padding: 10px 30px;

			color: #fefefe;
			text-shadow: -1px -1px 1px rgba(0, 0, 0, .6);
			text-decoration: none;
		}
	}

	body.game-over & div.game-over {
		display: block;
	}
}
