/* Lists */
.list\:inline {
	margin-left: 0;
	list-style: none;
}

.list\:inline li {
	display: inline-block;
	margin: 0 var(--spacing-medium) 0 0;
}

/* Grids */
.grid {
	display: grid;
	grid-auto-flow: column;
	gap: var(--spacing-large);
}

.grid\:media {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-medium);
}

.grid\:media figure {
	flex-grow: 1;
	margin: 0;
}

.grid\:media img,
.grid\:media video {
	width: auto;
	height: 11vw;
}
