:root {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--link-color: #f90;

	--text-font: Montserrat;
	--heading-font: Montserrat;

	--spacing-small: 0.5rem;
	--spacing-medium: 1.25rem;
	--spacing-large: 2.5rem;

	--easing: ease;

	--scrollspy-duration: 1s;
	--scrollspy-stagger: 0.25s;
}
