:root {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--link-color: #f90;

	--text-font: Montserrat;
	--heading-font: Montserrat;

	--spacing-small: 0.5rem;
	--spacing-medium: 1.25rem;
	--spacing-large: 2.5rem;

	--easing: cubic-bezier(0.16, 1, 0.3, 1); /* cubic-bezier(0.76, 0, 0.24, 1); /* cubic-bezier(0.68, -0.6, 0.32, 1.6); */
}
