:root {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--accent-color: #f90;
	--link-color: var(--accent-color);

	--text-font: Comfortaa;
	--heading-font: Comfortaa;
	--heading-weight: bold;

	--site-padding: 5vw;

	--spacing-small: 0.5rem;
	--spacing-medium: 1.25rem;
	--spacing-large: 2.5rem;

	--easing: cubic-bezier(0.16, 1, 0.3, 1);
}
