@mixin list-inline {
	margin-left: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 var(--spacing-medium) 0 0;
	}
}

@mixin card {
	// background: var(--body-bg);
	position: relative;
	padding: var(--spacing-large);
	box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	backdrop-filter: blur(20px);
}
