@keyframes navigation-slide-in {
	0% {
		transform: translateX(calc(2vw + 100%));
	}

	100% {
		transform: translateX(0);
	}
}

#navigation {
	position: fixed;
	right: 2vw;
	top: 50%;
	transform: translateY(-50%);

	a {
		background-color: var(--text-color);

		display: block;
		margin: 0 0 var(--spacing-small);

		width: 0.5rem;
		height: 0.5rem;

		font-size: 0;

		border-radius: 50%;
		transition: opacity 0.25 var(--easing), background-color 0.25 var(--easing);
		opacity: 0.25;

		&:last-child {
			margin: 0;
		}

		&.active {
			opacity: 1;
			background: var(--link-color);
		}
	}
}

// Animate
html.js #navigation a {
	animation: navigation-slide-in var(--scrollspy-duration) var(--easing);
	animation-play-state: paused;
	animation-fill-mode: backwards;
}

html.js.loaded #navigation a {
	animation-play-state: running;
}

@for $i from 1 through 10 {
	html.js #navigation a:nth-child(#{$i}) {
		animation-delay: #{4 + $i * 0.1 - 0.1}s;
	}
}
