:root {
	--scrollspy-duration: 0.75s;
	--scrollspy-stagger: 0.25s;
}

.splitting {
	perspective: 300px;
}

.splitting .char {
	transform: rotateX(90deg);
	transform-origin: 50% bottom;
	opacity: 0;
}

.in-view .splitting .char {
	transform: rotateX(0);
	opacity: 1;
	transition: transform 1s ease, opacity 0.25s ease;
	transition-delay: calc(0.1s * var(--char-index));
}
