html.theme-a {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--link-color: #f90;
	--heading-font: Raleway;
}

a[data-set-theme="a"] {
	background: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
}

html.theme-b {
	--body-bg: #FFF6E5;
	--text-color: #3E454C;
	--link-color: #FF7F66;
}

a[data-set-theme="b"] {
	background: #FFF6E5;
}

html.theme-c {
	--body-bg: #FDE792;
	--text-color: #5A1F00;
	--link-color: #477725;
}

a[data-set-theme="c"] {
	background: #FDE792;
}

html.theme-d {
	--body-bg: #2C3E50;
	--text-color: #ECF0F1;
	--link-color: #E74C3C;
}

a[data-set-theme="d"] {
	background: #2C3E50;
}

html.theme-e {
	--body-bg: #F2E638;
	--text-color: #8C6A03;
	--link-color: #F2DD72;
}

a[data-set-theme="e"] {
	background: #F2E638;
}

/* Theme switcher */
#themes {
	position: fixed;
	right: 2vw;
	top: var(--spacing-medium);
}

#themes a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 var(--spacing-small);

	width: 1rem;
	height: 1rem;

	font-size: 0;

	opacity: 0.5;
	border-radius: 50%;
	transition: opacity 0.25s var(--easing);
}

#themes a:hover,
#themes a.active {
	opacity: 1;
}

#themes a.active {
	border: 2px solid var(--text-color);
}

/* Animate */
html.js #themes a {
	transform: scale(0);
	opacity: 0;
	transition: transform 0.5s var(--easing), opacity 0.5s var(--easing);
}

html.js.loaded #themes a {
	transform: scale(1);
	opacity: 1;
}

/* Stagger */
html.js.loaded #themes a:nth-child(1) {
	transition-delay: 3.5s;
}

html.js.loaded #themes a:nth-child(2) {
	transition-delay: 3.55s;
}

html.js.loaded #themes a:nth-child(3) {
	transition-delay: 3.6s;
}

html.js.loaded #themes a:nth-child(4) {
	transition-delay: 3.65s;
}

html.js.loaded #themes a:nth-child(5) {
	transition-delay: 3.7s;
}

html.js.loaded #themes a:nth-child(6) {
	transition-delay: 3.75s;
}

html.js.loaded #themes a:nth-child(7) {
	transition-delay: 3.8s;
}

html.js.loaded #themes a:nth-child(8) {
	transition-delay: 3.85s;
}

html.js.loaded #themes a:nth-child(9) {
	transition-delay: 3.9s;
}

html.js.loaded #themes a:nth-child(10) {
	transition-delay: 3.95s;
}
