@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comfortaa:wght@300&family=Eczar:wght@800&family=Gloria+Hallelujah&family=Montserrat:wght@300&family=Raleway:wght@900&family=Ultra&display=swap");
@import url("https://unpkg.com/splitting@1.0.6/dist/splitting.css");

/* Icons */
@font-face {
	font-family: "icons";
	src: url("assets/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	margin-right: .5em;
}

.icon-globe:before { content: "\e800"; }
.icon-down:before { content: "\e801"; }
.icon-left:before { content: "\e802"; }
.icon-right:before { content: "\e803"; }
.icon-up:before { content: "\e804"; }
.icon-github:before { content: "\f09b"; }
.icon-stackoverflow:before { content: "\f16c"; }

/* Box-sizing */
* {
	box-sizing: border-box;
}

/* Config */
:root {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--link-color: #f90;

	--spacing-small: 0.5rem;
	--spacing-medium: 1.25rem;
	--spacing-large: 2.5rem;

	--easing: ease;

	--scrollspy-duration: 1s;
	--scrollspy-stagger: 1.5s;
}

/* Different themes */
html.theme-a {
	--body-bg: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
	--text-color: white;
	--link-color: #f90;
}

a[data-set-theme="a"] {
	background: #020024 radial-gradient(circle farthest-corner at center top, #00d4ff, #020024 100%) no-repeat 50% 0;
}

html.theme-b {
	--body-bg: #FFF6E5;
	--text-color: #3E454C;
	--link-color: #FF7F66;
}

a[data-set-theme="b"] {
	background: #FFF6E5;
}

html.theme-c {
	--body-bg: #FDE792;
	--text-color: #5A1F00;
	--link-color: #477725;
}

a[data-set-theme="c"] {
	background: #FDE792;
}

html.theme-d {
	--body-bg: #2C3E50;
	--text-color: #ECF0F1;
	--link-color: #E74C3C;
}

a[data-set-theme="d"] {
	background: #2C3E50;
}

html.theme-e {
	--body-bg: #F2E638;
	--text-color: #8C6A03;
	--link-color: #F2DD72;
}

a[data-set-theme="e"] {
	background: #F2E638;
}

/* Loading */
html.loading::before {
	content: "Loading...";
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

html.loading * {
	visibility: hidden;
}

/* Snap */
html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

/* Base */
html {
	background: var(--body-bg);
	background-attachment: fixed;
	font-size: 100%;
	color: var(--text-color);
}

body {
	min-height: 100vh;
	margin: 0;
	font: 1rem/2 Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 2rem/0.9 Raleway, serif;
	letter-spacing: -0.025em;
	margin: 0 0 var(--spacing-medium);
	max-width: 36rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}

h1,
h2 {
	font-size: clamp(3rem, 20vmin, 8rem);
}

h3 {
	font-size: clamp(1rem, 20vmin, 3rem);
}

p {
	margin: 0 0 var(--spacing-medium);
	max-width: 40rem;
}

a {
	cursor: pointer;
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-color: var(--link-color);
	text-underline-offset: 0.5rem;
	transition: color 0.25s var(--easing);
}

a[class*="icon-"]::before {
	display: inline-block;
	text-decoration: none;
}

a:hover {
	color: var(--link-color);
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

video {
	max-width: 100%;
}

ul,
ol {
	margin: 0 0 var(--spacing-medium) var(--spacing-large);
	padding: 0;
}

figure {
	margin: 0 0 var(--spacing-medium);
}

figure img {
	display: block;
	width: 100%;
}

/* Splitting */
.splitting {
	perspective: 300px;
}

.splitting .char {
	transform: rotateX(90deg);
	transform-origin: 50% bottom;
	opacity: 0;
}

.in-view .splitting .char {
	transform: rotateX(0);
	opacity: 1;
	transition: transform 1s ease, opacity 0.25s ease;
	transition-delay: calc(0.15s * var(--char-index));
}

/* Lists */
.list\:inline {
	margin-left: 0;
	list-style: none;
}

.list\:inline li {
	display: inline-block;
	margin: 0 var(--spacing-medium) 0 0;
}

/* Grids */
.grid\:media {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-medium);
}

.grid\:media figure {
	flex-grow: 1;
	margin: 0;
}

.grid\:media img,
.grid\:media video {
	width: auto;
	height: 11vw;
}

/* 3D Background */
#bg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	margin: 0;
	pointer-events: none;
}

html.dev #bg {
	pointer-events: all;
	z-index: 1;
}

#bg canvas {
	position: absolute;
	left: 0;
	top: 0;
	outline: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center center;
}

/* Navigation */
#navigation {
	position: fixed;
	right: 2vw;
	top: 50%;
	transform: translateY(-50%);
}

#navigation a {
	background: var(--text-color);

	display: block;
	margin: 0 0 var(--spacing-small);

	width: 0.5rem;
	height: 0.5rem;

	font-size: 0;

	border-radius: 50%;
	transition: opacity 0.25 var(--easing), background 0.25 var(--easing);
	opacity: 0.25;
}

#navigation a:last-child {
	margin: 0;
}

#navigation a.active {
	opacity: 1;
	background: var(--link-color);
}

/* Themes */
#themes {
	position: fixed;
	right: 2vw;
	top: var(--spacing-medium);
}

#themes a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 var(--spacing-small);

	width: 1rem;
	height: 1rem;

	font-size: 0;

	opacity: 0.5;
	border-radius: 50%;
	transition: opacity 0.25s var(--easing);
}

#themes a:hover,
#themes a.active {
	opacity: 1;
}

#themes a.active {
	border: 1px solid white;
}

/* Sections */
section {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	padding: 15vh 5vw;
	min-height: 100vh;
}

section > header:first-child {
	margin-bottom: var(--spacing-large);
}

section > header:first-child p {
	font-size: 1.2em;
}

/* About */
#about {

}

/* Work */
#work {

}

/* Play */
#play {

}

/* Contact */
#contact {

}

/* The end */
#end {

}
